.product-price-diplsay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 5px 0;
}

.label {
    font-weight: 600;
    font-size: 1rem;
    color: #555;
}

.value {
    font-size: 1.2rem;
    color: #222;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.variations tr {
    height: auto !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.varations td {
    padding-right: 10px;
}

.variations td.label, 
.variations td.value {
    padding: 2px !important;
    margin: 0 !important;
    line-height: 0.5 !important;
    vertical-align: middle !important;
    display: table-cell !important;
    gap: 10px;
}

.variations select {
    height: auto !important;
    min-height: 30px !important;
    max-width: 100% !important;
}

/* Dropdown Styling */
option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}
.custom-dropdown {
    max-width: 100% !important;
    min-width: 75% !important;
    padding: 0.5em;
    border: 1px solid #d3ced2;
    border-radius: 4px;
    box-sizing: border-box !important;
    margin-bottom: 1em;
    font-size: 1em;
    background-color: #fff !important;
    position: relative !important;
    z-index: 10 !important;
    appearance: none;
}

.custom-dropdown:focus {
    border-color: #77a464;
    outline: none;
}

/* Button Styling */
.custom-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #77a464;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #5e8a3c;
}

/* Additional Styling */
.custom-product-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #333;
}

.custom-price {
    font-size: 1.25em;
    color: #77a464;
    margin-bottom: 1em;
}
